/* Переменные */
/* Миксины */
html {
  box-sizing: border-box;
}
*,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.page-header {
  background: rgba(0, 0, 0, 0.7) url('../img/header-bg.jpg') no-repeat;
  min-height: 460px;
}
.page-header__nav-bar {
  width: auto;
  padding: 0 20px;
  min-height: 65px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
}
.page-header__logo-link {
  float: left;
}
.main-nav__list {
  float: right;
  display: none;
}
