
html {
  box-sizing: border-box;
}
*, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 24px;
}

.wrapper {
  @media @desktop {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}














